.page-content {
  animation: dropIn 400ms ease-out, fadeIn 400ms;
  will-change: transform;
}

.project-item {
  border-radius: 8px;
  margin-bottom: 8px;
  transition: background-color 250ms linear, border 250ms linear;
  animation: dropIn 400ms ease-out, fadeIn 400ms;
  will-change: transform;
}

.chip {
  cursor: pointer;
}

.filters-card {
  border-radius: 8px;
  margin-bottom: 8px;
  transition: background-color 250ms linear, border 250ms linear;
}

.fade-enter {
  opacity: 0;
}

.fade-exit {
  opacity: 1;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-out;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 400ms ease-in;
}

.filters-content > * {
  animation: dropIn 400ms ease-out, fadeIn 400ms;
  will-change: transform;
}

/* .project-item > * {
  
} */

@keyframes dropIn {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
